@charset "utf-8";
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




.row {max-width: 1100px; margin: 0px auto;}
html, body {
    /* height: 100%; */
    font-family: 'S-CoreDream-6Bold';
}

/* 로딩박스----------------------------------------------------------------------------------- */
.loading-box {
    position: fixed; top: 0px; left: 0px;
    z-index: 9999999999999;
    width: 100vw; height: 100vh;
    background: #000;
}
.loading-box video {
    width: 100%; height: 100%;
}

/* 헤더 시작--------------------------------------------------------------------------------- */
#header {
    background: url(../images/sky-back.jpg) no-repeat;
    background-size: cover;
}
.header-box {
    position: fixed; top: 0px; left: 0px; right: 0px;
    z-index: 9999999999;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center center;
}
/* 좌측 상단에 디즈니 로고 */
.header-box .disney-logo-box {
    width: 100%; min-width: 80px; height: auto;
}
.header-box .disney-logo-box img {
    width: 100%;
}
/* 중앙 상단에 석세스 로고 */
.header-box .seok-logo-box {
    width: 20%; min-width: 100px; height: auto;
    grid-area: 1 / 2 / 2 / 3;
    /* display: none; */
}
.header-box .seok-logo-box img {
    width: 100%;
}
/* 우측 상단에 햄버거 메뉴------------------------------------------------------------------ */
.header-box .nav-box {
    grid-area: 1 / 3 / 2 / 4;
    /* border: 2px solid #fff; */
    width: 100%; max-width: 40px; height: auto;
    display: grid;
    place-items: center center;
}
/* 햄버거 버튼 */
.header-box .nav-box .nav-open {
    width: 100%;
}
.header-box .nav-box .nav-open p {
    margin: 7px auto;
}
/* 반응형 768px에서 두개 없애야함 */
.header-box .nav-box .nav-open .hamburger-1 {
    width: 90%; min-width: 30px; height: 3px;
    background: #fff;
    border-radius: 5px;
}
.header-box .nav-box .nav-open .hamburger-2 {
    width: 90%; min-width: 30px; height: 3px;
    background: #fff;
    border-radius: 5px;
}
.header-box .nav-box .nav-open .hamburger-3 {
    width: 90%; min-width: 30px; height: 3px;
    background: #fff;
    border-radius: 5px;
}




#section {
    /* height: 100%; */
}
/* 첫장 페이지----------------------------------------------------------------------------------- */
.article1 {
    /* height: 100%; */
    margin-bottom: -5px;
    /* padding-top: 125px; */
    /* margin은 동영상 밑에 살짝 5px정도 뒷배경이 보여서 빼줌 */
    background: url(../images/sky-back.jpg);
}
/* 중앙 하단에 석세스 로고 */
.article1 .seok-logo-big-box {
    width: 100%; height: auto;
    grid-area: 2 / 1 / 3 / 4;
    /* background: red; */
}
.article1 .seok-logo-big-box img {
    width: 100%;
    display: block;
}
/* 메인 동영상 */
.article1 video {
    width: 100%; height: 100%;
}


/* 두번째장 페이지----------------------------------------------------------------------------------- */
.article2 {
    /* height: 100%; */
    position: relative;
}
.article2 .company-img-box {
    width: 100%;
}
.article2 .company-img-box img {
    width: 100%;
}
.article2 .introduction-box {
    position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;
    color: #fff; background: rgba(0,0,0,0.5);
    grid-template-rows: 100%;
    display: grid;
    place-items: center center;
}
.article2 .introduction-box > div {
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 2px #ccc;
}
.article2 .introduction-box > div h2 {
    position: relative;
    padding: 30px 0px 20px; margin-bottom: 30px;
    font-size: 30px;
}
.article2 .introduction-box > div h2::after {
    content: "";
    position: absolute; left: 50%; bottom: 0px;
    transform: translateX(-50%);
    width: 50px; height: 2px;
    background: #fff;

}
.article2 .introduction-box > div p {
    line-height: 2;
    max-width: 768px; width: 70%;
    /* min-height: 264px; */
    margin: 0px auto;
    word-break: keep-all;
    /* 줄바꿈이 단어 하나하나 내려감 */
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: -webkit-box; -webkit-line-clamp: 11; -webkit-box-orient: vertical; overflow: hidden;
    /* 여러줄일때 아티클 구역에 넘치는 내용을 방지하기 위해서 1제약을 걸어둔다. */
}



/* 세번째장 페이지----------------------------------------------------------------------------------- */
.article3 {
    /* height: 100%; */
    
}
.article3 > div {
    position: relative;
}
.article3 .princess-img-box {
    width: 100%;
}
.article3 .princess-img-box img {
    width: 100%;
    /* filter: brightness(50%); */
}
.article3 .princess {
    display: grid;
    place-items: center center;
    position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px;
    z-index: 99999999999;
    /* z-index값이 헤더가 9 10개 그 위에 올려야되서 상세설명이 9 11개 두번째로 높음 첫번째는 사이드 메뉴버튼 */
}




/* 공주들 */
.article3 .princess > a {
    width: 100%; height: 100%;
    /* position: relative;
    z-index: 99999999999; */
}
.article3 .princess .anna {
    grid-area: 3 / 1 / 7 / 6;
}
.article3 .princess .elsa {
    grid-area: 3 / 6 / 7 / 10;
}
.article3 .princess .tiana {
    grid-area: 4 / 10 / 9 / 14;
}
.article3 .princess .merida {
    grid-area: 4 / 14 / 8 / 17;
}
.article3 .princess .belle {
    grid-area: 2 / 19 / 7 / 22;
}
.article3 .princess .cinderella {
    grid-area: 1 / 26 / 9 / 30;
}
.article3 .princess .aurora {
    grid-area: 8 / 1 / 12 / 5;
}
.article3 .princess .snowwhite {
    grid-area: 7 / 17 / 11 / 20;
}
.article3 .princess .mulan {
    grid-area: 6 / 22 / 11 / 26;
}
.article3 .princess .moana {
    grid-area: 13 / 3 / 19 / 7;
}
.article3 .princess .ariel {
    grid-area: 11 / 7 / 16 / 11;
}
.article3 .princess .vanellope {
    grid-area: 11 / 12 / 16 / 16;
}
.article3 .princess .pocahontas {
    grid-area: 12 / 17 / 17 / 19;
}
.article3 .princess .tangled {
    grid-area: 11 / 24 / 20 / 20;
}
.article3 .princess .jasmine {
    grid-area: 11 / 26 / 16 / 30;
}
/* 공주들 클릭시 나오는 텍스트------------------------------------------------------------------------------ */
.article3 .princess .princess-content-box {
    position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px;
    background: rgba(0,0,0,0.8);
    display: none;
    /* z-index: 999999999999999999999; */
}
.article3 .princess .princess-content-box .princess-content {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0);
    width: 50%;
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center center;
}
/* 공주들 이미지 */
.article3 .princess .princess-content-box .princess-content .content-img-box img {
    width: 100%;
}
/* 공주들 상세내용 */
.article3 .princess .princess-content-box .princess-content .content-txt-box {
    color: #fff;
    padding-left: 30px;
}
/* 공주들 이름+성격 */
.article3 .princess .princess-content-box .princess-content .content-txt-box h2 {
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding: 0px 0px 10px;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box p {
    margin: 20px 0px;
}
/* 공주들 테이블 */
.article3 .princess .princess-content-box .princess-content .content-txt-box .table {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box table th {
    font-size: 20px;
    padding: 0px 0px 5px 5px; margin-bottom: 15px;
    border-bottom: 2px solid #fff;
    text-align: left;
    display: inline-block;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box table tr td {
    padding: 5px 0px 5px 5px;
    font-weight: bold;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box table colgroup col:nth-child(1) {
    width: 60px;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box table colgroup col:nth-child(2) {
    width: auto;
}
/* 공주들 유투브 영상 */
.article3 .princess .princess-content-box .princess-content .content-txt-box .youtube-box {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box .youtube-box span {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px; margin-bottom: 10px;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box .youtube-box iframe {
    width: 100%;
}
/* 닫기 버튼 */
.article3 .princess .princess-content-box .princess-content .close-box {
    position: absolute; top: -20px; right: -15px;
}
.article3 .princess .princess-content-box .princess-content .close-box i {
    font-size: 40px;
    color: gray;
    cursor: pointer;
}










































/* 네번째장 페이지------------------------------------------------------------------------------------- */
.article4 {
    position: relative;
}
/* 백그라운드 이미지 */
.article4 .all-disney-img-box {
    width: 100%;
}
.article4 .all-disney-img-box img {
    width: 100%;
}

/* 영화 목록 구역------------- */
.article4 .disney-movie-box {
    position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;
}

/* 영화 목록 슬라이드--------------------------------------------------------------------------------- */
.article4 .slide-outer {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.article4 .slide-outer h2 {
    padding: 50px 0px 100px;
    font-size: 50px;
    color: #fff;
}

/* 영화 텍스트 구역--------------------------------------------------------------------------------------- */
.article4 .slide-outer .slide-inner-txt {
    display: inline-block;
    width: 30%; height: 100%;
    vertical-align: middle;
    color: #fff;
}
/* 영화제목 */
.article4 .slide-outer .slide-inner-txt h3 {
    font-size: 21px;
    display: inline-block;
}
/* 개봉년도 */
.article4 .slide-outer .slide-inner-txt span {
    color: #aaa;
    font-size: 12px;
}
/* 영여 영화제목 */
.article4 .slide-outer .slide-inner-txt p:nth-of-type(1) {
    color: #aaa;
    font-size: 14px;
}
/* 영화 명대사 */
.article4 .slide-outer .slide-inner-txt p:nth-of-type(2) {
    color: #aaa;
    padding: 20px 0px;
    font-size: 16px;
}
/* 영화 view버튼 */
.article4 .slide-outer .slide-inner-txt button {
    padding: 5px 10px;
    border-radius: 10px; border: 3px solid #fff;
    transition: all 0.5s;
    font-weight: bold;
}
.article4 .slide-outer .slide-inner-txt button:hover {
    padding: 5px 10px;
    border-radius: 10px; border: 3px solid #fff;
    font-weight: bold;
    background: skyblue;
}
/* 영화 포스터 구역---------------------------------------------------------------------------------------- */
.article4 .slide-outer .slide-inner-img {
    display: inline-block;
    width: 69%;
    vertical-align: middle;
}
.article4 .slide-outer .slide-inner-img .slide {
    margin-right: 10px;
}
.article4 .slide-outer .slide-inner-img .slide img {
    width: 100%;
}






/* 다섯번째장 페이지--------------------------------------------------------------------------------- */
.article5 {
    background: #111;
    position: relative;
}
.article5 .disney-studio-img-box {
    width: 100%;
}
.article5 .disney-studio-img-box img {
    width: 100%;
}
.article5 .disney-studio-box {
    position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;
    background: rgba(0,0,0,0.5);
}
/* 스튜디오 텍스트 */
.article5 .studio-txt-box {
    text-align: center;
    color: #fff;
    font-size: 4vw;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/* 스튜디오 이미지 */
.article5 .studio-logo-box {
    /* position: relative;
    height: 100%; */
}
.article5 .studio-logo-box > div {
    position: absolute;
    width: 10%;
    max-width: 200px;
}
.article5 .studio-logo-box > div img {
    width: 100%;
}
/* 픽처스 */
.article5 .studio-logo-box .pictures {
    top: 10%; left: 8%;
}   
/* 애니메이션 스튜디오 */
.article5 .studio-logo-box .animation {
    top: 10%; left: 30%;
}
/* 픽사 스튜디오 */
.article5 .studio-logo-box .pixar {
    top: 15%; left: 55%;
    max-width: 300px;
}
/* 터치스톤 */
.article5 .studio-logo-box .touch {
    top: 10%; right: 10%;
    max-width: 300px;
}
/* 루카스 */
.article5 .studio-logo-box .lucas {
    top: 50%; left: 10%;
    transform: translateY(-50%);
    max-width: 300px;
}
/* 20세기 */
.article5 .studio-logo-box .century {
    bottom: 10%; left: 20%;
    max-width: 300px;
}
/* 마블 */
.article5 .studio-logo-box .marvel {
    bottom: 15%; left: 50%;
    transform: translateX(-50%);
}
/* 서치라이트 */
.article5 .studio-logo-box .searchlight {
    bottom: 10%; left: 65%;
}
/* 블루스카이 */
.article5 .studio-logo-box .bluesky {
    top: 50%; right: 10%;
    transform: translateY(-50%);
}






/* 사이드 메뉴-------------------------------------------------------------------------------- */
.nav-button-box {
    position: fixed; top: 50%; left: 50px;
    z-index: 999999999999;
    /* 공주들 페이지보다 위로 올라와야해서 제일 많은 12개 */
}
.nav-button-box ul li {
    width: 15px; height: 15px;
    background: rgba(255,255,255,1);
    margin: 25px 0px 20px 0px;
    border-radius: 50%; border: 3px solid rgba(255,255,255,1);
    cursor: pointer;
    transition: all 0.5s;
}
.nav-button-box ul li:hover {
    width: 15px; height: 15px;
    background: rgba(255,255,255,1); color: pink;
    margin: 25px 0px 20px 0px;
    border-radius: 50%; border: 3px solid rgba(255,192,203,1);
    cursor: pointer;
}
.nav-button-box ul li.on {
    width: 15px; height: 15px;
    background: rgba(0,0,0,1);
    margin: 25px 0px 20px 0px;
    border-radius: 50%; border: 3px solid rgba(255,255,255,0);
    cursor: pointer;
    animation: mickey 0.5s infinite linear;
}
@keyframes mickey {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}
.nav-button-box ul li.on::after {
    content: "";
    position: absolute; top: 0px; left: 0px;
    width: 10px; height: 10px;
    margin: -7px 0px 0px -7px;
    background: #000;
    border-radius: 50%;
}
.nav-button-box ul li.on::before {
    content: "";
    position: absolute; top: 0px; right: 0px;
    width: 10px; height: 10px;
    margin: -7px -7px 0px 0px;
    background: #000;
    border-radius: 50%;
}








#footer {
    color: #9b9b9b;
    font-size: 12px; font-weight: bold;
    background: #363636;
    position: relative;
    height: 50px; line-height: 50px;
}


#footer .copyright img {
    padding: 0px 20px;
}
#footer ul {
    position: absolute; top: 0px; right: 0px;
}
#footer ul li {
    display: inline-block;
    padding: 0px 20px 0px 0px;
}






























































































































