@charset "utf-8";





html, body {
    height: 100%;
}
#header {
    background: url(../images/sky-back.jpg) no-repeat;
    background-size: cover;
}
.header-box {
    position: fixed; top: 0px; left: 0px; right: 0px;
    z-index: 9999999999;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center center;
}
/* 좌측 상단에 디즈니 로고 */
.header-box .disney-logo-box {
    width: 100%; min-width: 80px; height: auto;
}
.header-box .disney-logo-box img {
    width: 100%;
}
/* 중앙 상단에 석세스 로고 */
.header-box .seok-logo-box {
    width: 20%; min-width: 100px; height: auto;
    grid-area: 1 / 2 / 2 / 3;
    /* display: none; */
}
.header-box .seok-logo-box img {
    width: 100%;
}
/* 우측 상단에 햄버거 메뉴------------------------------------------------------------------ */
.header-box .nav-box {
    grid-area: 1 / 3 / 2 / 4;
    /* border: 2px solid #fff; */
    width: 100%; max-width: 40px; height: auto;
    display: grid;
    place-items: center center;
}
/* 햄버거 버튼 */
.header-box .nav-box .nav-open {
    width: 100%;
}
.header-box .nav-box .nav-open p {
    margin: 7px auto;
}
/* 반응형 768px에서 두개 없애야함 */
.header-box .nav-box .nav-open .hamburger-1 {
    width: 90%; min-width: 30px; height: 3px;
    background: #fff;
    border-radius: 5px;
}
.header-box .nav-box .nav-open .hamburger-2 {
    width: 90%; min-width: 30px; height: 3px;
    background: #fff;
    border-radius: 5px;
}
.header-box .nav-box .nav-open .hamburger-3 {
    width: 90%; min-width: 30px; height: 3px;
    background: #fff;
    border-radius: 5px;
}




#section {
    height: 100%;
}
/* 첫장 페이지----------------------------------------------------------------------------------- */
.article1 {
    /* height: 100%; */
    margin-bottom: -5px;
    /* padding-top: 125px; */
    /* margin은 동영상 밑에 살짝 5px정도 뒷배경이 보여서 빼줌 */
    background: url(../images/sky-back.jpg);
}
/* 중앙 하단에 석세스 로고 */
.article1 .seok-logo-big-box {
    width: 100%; height: auto;
    grid-area: 2 / 1 / 3 / 4;
    /* background: red; */
}
.article1 .seok-logo-big-box img {
    width: 100%;
    display: block;
}
/* 메인 동영상 */
.article1 video {
    width: 100%; height: 100%;
}


/* 두번째장 페이지----------------------------------------------------------------------------------- */
.article2 {
    /* height: 100%; */
    position: relative;
}
.article2 .all-disney-img-box {
    width: 100%;
}
.article2 .all-disney-img-box img {
    width: 100%;
}
.article2 .introduction-box {
    position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;
    color: #fff; background: rgba(0,0,0,0.5);
    grid-template-rows: 100%;
    display: grid;
    place-items: center center;
}
.article2 .introduction-box > div {
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 2px #ccc;
}
.article2 .introduction-box > div h2 {
    position: relative;
    padding: 30px 0px 20px; margin-bottom: 30px;
    font-size: 30px;
}
.article2 .introduction-box > div h2::after {
    content: "";
    position: absolute; left: 50%; bottom: 0px;
    transform: translateX(-50%);
    width: 50px; height: 2px;
    background: #fff;

}
.article2 .introduction-box > div p {
    line-height: 1.5;
    width: 768px;
    margin: 0px auto;
    word-break: keep-all;
    /* 줄바꿈이 단어 하나하나 내려감 */
    font-size: 16px;
}



/* 세번째장 페이지----------------------------------------------------------------------------------- */
.article3 {
    /* height: 100%; */
}
.article3 > div {
    position: relative;
}
.article3 .princess-img-box {
    width: 100%;
}
.article3 .princess-img-box img {
    width: 100%;
    /* filter: brightness(50%); */
}
.article3 .princess {
    display: grid;
    place-items: center center;
    position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px;
}








/* 공주들 */
.article3 .princess > a {
    width: 100%; height: 100%;
}
.article3 .princess .anna {
    grid-area: 3 / 1 / 7 / 6;
}
.article3 .princess .elsa {
    grid-area: 3 / 6 / 7 / 10;
}
.article3 .princess .tiana {
    grid-area: 4 / 10 / 9 / 14;
}
.article3 .princess .merida {
    grid-area: 4 / 14 / 8 / 17;
}
.article3 .princess .belle {
    grid-area: 2 / 19 / 7 / 22;
}
.article3 .princess .cinderella {
    grid-area: 1 / 26 / 9 / 30;
}
.article3 .princess .aurora {
    grid-area: 8 / 1 / 12 / 5;
}
.article3 .princess .snowwhite {
    grid-area: 7 / 17 / 11 / 20;
}
.article3 .princess .mulan {
    grid-area: 6 / 22 / 11 / 26;
}
.article3 .princess .moana {
    grid-area: 13 / 3 / 19 / 7;
}
.article3 .princess .ariel {
    grid-area: 11 / 7 / 16 / 11;
}
.article3 .princess .vanellope {
    grid-area: 11 / 12 / 16 / 16;
}
.article3 .princess .pocahontas {
    grid-area: 12 / 17 / 17 / 19;
}
.article3 .princess .tangled {
    grid-area: 11 / 24 / 20 / 20;
}
.article3 .princess .jasmine {
    grid-area: 11 / 26 / 16 / 30;
}
/* 공주들 클릭시 나오는 텍스트------------------------------------------------------------------------------ */
.article3 .princess .princess-content-box {
    position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 99999999999;
}
.article3 .princess .princess-content-box .princess-content {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 300px;
}
/* 공주들 이미지 */
.article3 .princess .princess-content-box .princess-content .content-img-box {
    width: 100%;
}
.article3 .princess .princess-content-box .princess-content .content-img-box img {
    width: 100%;
}
/* 공주들 상세내용 */
.article3 .princess .princess-content-box .princess-content .content-txt-box table {
    margin: 0px 0px 10px;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box table tr td {
    padding: 5px 0px 5px 5px;
    font-weight: bold;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box table tr td:nth-child(1) {
    width: 100px;
    text-align: center;
    padding-left: 0px;
    border-right: 2px double #aaa;
}
/* 공주들 유투브 영상 */
.article3 .princess .princess-content-box .princess-content .content-txt-box iframe {
    width: 250px;
    margin: 0px auto;
    display: block;
    margin-bottom: 10px;
}
/* 닫기 버튼 */
.article3 .princess .princess-content-box .princess-content .close-box {
    position: absolute; top: -20px; right: -15px;
}
.article3 .princess .princess-content-box .princess-content .close-box i {
    font-size: 40px;
    color: gray;
    cursor: pointer;
}
/* 안나 테이블 */
.article3 .princess .princess-content-box .princess-content .content-txt-box #anna tr td:nth-child(1) {
    background: hotpink; color: #fff;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box #anna tr td:nth-child(2) {
    background: seashell;
}
/* 엘사 테이블 */
.article3 .princess .princess-content-box .princess-content .content-txt-box #elsa tr td:nth-child(1) {
    background: skyblue; color: #fff;
}
.article3 .princess .princess-content-box .princess-content .content-txt-box #elsa tr td:nth-child(2) {
    background: seashell;
}